.general-info {
  background-color: #fff;
  padding: 25px;
  border-radius: 6px;
 /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); */
  margin-bottom: 20px;
  /*border-left: 9px solid #86bc33; */
 /* transition: box-shadow 0.3s ease, transform 0.3s ease;*/
}



h3 {
  font-size: 1.25rem;
  font-weight: 430;
  color: #000000; /* Utilisation du violet pour le titre */
  margin-bottom: 15px;
}

.info-container {
  display: flex;
  flex-wrap: wrap; /* Permet aux éléments de se réorganiser sur des écrans plus petits */
  gap: 20px;
}

.info-item {
  flex: 1;
  min-width: 180px;
  font-size: 0.93rem;
  color: #000000;
}

.info-label {
  font-weight: 150;
  color: rgba(51, 51, 51, 0.56); /* Bleu pour les labels */
  font-size: 0.90rem;
}

strong {
  font-size: 1rem;
  color: #555; /* Une couleur plus foncée pour le texte mis en valeur */
}

@media screen and (max-width: 768px) {
  .info-container {
    flex-direction: column; /* Passage en colonne pour les petits écrans */
  }
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;

}
body {
  background-color: #0080ff; /* Choisis une couleur douce */
  margin: 0;
  font-family: Arial, sans-serif;
}
