<div class="general-info">
  <h3>General Information</h3>
  <div class="info-container">
    <div class="info-item">
      <span class="info-label">Journal Abbreviation : </span><br>
      <strong>{{ journalInfo.journalAbbreviation }}</strong>
    </div>
    <div class="info-item">
      <span class="info-label">Created Date : </span><br>
      <strong>{{ journalInfo.activeDate }}</strong>
    </div>
    <div class="info-item">
      <span class="info-label">Last Modified Date :</span><br>
      <strong>{{ journalInfo.inactiveDate }}</strong>
    </div>
    <div class="info-item">
      <span class="info-label">Journal Id :</span><br>
      <strong>{{ journalInfo.jrlId }}</strong>
    </div>
  </div>
</div>
