<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light  p-0 shadow-sm">
  <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
    <img [src]="'assets/ced.jpg'" style="max-width: 200px; height: auto;">
  </a>

  <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse"></div>
</nav>
<!-- Navbar End -->
