<form [formGroup]="journalForm" (ngSubmit)="submitForm()" class="k-form">
  <div class="form-container">

    <!-- JRL Abbreviation -->
    <div class="form-group">
      <label class="label-required">Journal Abbreviation</label>
      <kendo-textbox formControlName="JRL_Abbreviation" placeholder="Enter abbreviation"></kendo-textbox>
    </div>

    <!-- JRL Description -->
    <div class="form-group full-width">
      <label>Journal Description</label>
      <kendo-textarea formControlName="JRL_Description" [maxlength]="30" placeholder="Enter description"></kendo-textarea>
    </div>
    <!-- Journal Type -->
    <div class="form-group">
      <label class="label-required">Journal Type</label>
      <kendo-dropdownlist
        [data]="journalTypes"
        [textField]="'jrT_Id'"
        [valueField]="'jrT_Id'"
        [valuePrimitive]="true"
        formControlName="JRL_JournalType_Id"
        [defaultItem]="defaultJournalType">
        >
      </kendo-dropdownlist>
    </div>
    <!-- Legal Entity -->
    <div class="form-group">
      <label class="label-required">Legal Entity</label>
      <kendo-dropdownlist
        [data]="legalEntities"
        [textField]="'nomComplet'"
        [valueField]="'lE_Id'"
        [valuePrimitive]="true"
        formControlName="JRL_LegalEntity_Id"
        [defaultItem]="defaultLegalEntity">
      </kendo-dropdownlist>

    </div>

    <!-- Currency Code -->
    <div class="form-group">
      <label>Currency Code</label>
      <kendo-textbox formControlName="currencyCode" placeholder="Currency Code" [readonly]="true"></kendo-textbox>
    </div>


    <!-- General Ledger -->
    <div class="form-group">
      <label class="label-required"> General Ledger</label>
      <kendo-textbox formControlName="JRL_GeneralLedger_Id" placeholder="Enter General Ledger ID"></kendo-textbox>
    </div>

    <!-- IBAN -->
    <div class="form-group">
      <label class="label-green">Iban</label>
      <kendo-textbox formControlName="JRL_BankAccount_Id" placeholder="Enter IBAN"></kendo-textbox>
    </div>

    <!-- Exact Administration -->
    <div class="form-group">
      <label class="label-required">Exact Administration</label>
      <kendo-textbox formControlName="JRL_ExactAdministration" placeholder="Exact Administration"></kendo-textbox>
    </div>

    <!-- Exact Journal -->
    <div class="form-group">
      <label class="label-required">Exact Journal</label>
      <kendo-textbox formControlName="JRL_ExactJournal" placeholder="Exact Journal"></kendo-textbox>
    </div>



    <!-- Inactive Switch -->
    <div class="form-group">
      <label>Journal Status</label>
      <kendo-switch formControlName="JRL_Inactive"></kendo-switch>
    </div>


  </div>

  <!-- Message d'erreur -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <!-- Bouton de soumission -->
  <div class="submit-container">
    <!-- Bouton Save, désactivé si le formulaire est invalide -->
    <button kendoButton type="submit" [disabled]="!journalForm.valid" [primary]="true">
      Save
    </button>

    <!-- Bouton Next, toujours actif -->
    <!-- Bouton Next, activé seulement après la sauvegarde réussie -->
    <button kendoButton type="button" (click)="nextStep()" [primary]="true" class="ml-2" >
      Next
    </button>

  </div>
</form>
