<div class="container">
  <!-- Affichage des informations générales -->
  <div class="general-info" *ngIf="generalLedgerInfo">
    <h3>{{ isSaved ? 'General Ledger Information' : 'Edit General Ledger' }}</h3>
    <div class="info-container">
      <div class="info-item">
        <span class="info-label">General Ledger ID :</span><br>
        <strong>{{ generalLedgerInfo.gL_Id }}</strong>
      </div>
      <div class="info-item">
        <span class="info-label">Created Date :</span><br>
        <strong>{{ generalLedgerInfo.gL_CreatedDate | date:'dd/MM/yyyy' }}</strong>
      </div>
      <div class="info-item">
        <span class="info-label">Last Modified Date :</span><br>
        <strong>{{ generalLedgerInfo.gL_LastModifiedDate | date:'dd/MM/yyyy' }}</strong>
      </div>
    </div>
  </div>

  <!-- Formulaire de mise à jour -->
  <form [formGroup]="generalLedgerForm" (ngSubmit)="submitForm()" class="k-form">
    <div class="form-container">
      <div class="form-group">
        <label class="label-required">Exact Administration Ref ° :</label>
        <kendo-textbox formControlName="gL_ExactAdministration" placeholder="Enter Exact Administration"></kendo-textbox>
        <div
          class="error-message"
          *ngIf="generalLedgerForm.get('gL_ExactAdministration')?.errors?.['pattern']"
        >
          This field must be numeric !
        </div>
      </div>
      <div class="form-group">
        <label class="label-required">Exact General Ledger Ref ° :</label>
        <kendo-textbox formControlName="gL_ExactGeneralLedger" placeholder="Enter Exact General Ledger"></kendo-textbox>
        <div
          class="error-message"
          *ngIf="generalLedgerForm.get('gL_ExactGeneralLedger')?.errors?.['pattern']"
        >
          This field must be numeric !
        </div>
      </div>
      <div class="form-group full-width">
        <label>Account Description :</label>
        <kendo-textarea formControlName="gL_Description" [maxlength]="100"></kendo-textarea>
      </div>
      <div class="form-group">
        <label>Account Status :</label>
        <kendo-switch formControlName="gL_Inactive" [offLabel]="'ON'" [onLabel]="'OFF'"></kendo-switch>
      </div>

      <div class="form-group">
        <label>Suspense Account ?</label>
        <kendo-switch formControlName="gL_IsSuspenseAccount"></kendo-switch>
      </div>

      <div class="form-group">
        <label>Primary Process ?</label>
        <kendo-switch formControlName="gL_IsPrimaryProcess"></kendo-switch>
      </div>

      <div class="form-group">
        <label>Profit & Loss Account ?</label>
        <kendo-switch formControlName="gL_IsProfitLossAccount"></kendo-switch>
      </div>


    </div>

    <!-- Affichage des erreurs -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <!-- Boutons -->
    <div class="submit-container">
      <button kendoButton type="button" (click)="enableEditing()" *ngIf="!isEditing">Edit</button>
      <button kendoButton type="submit" [disabled]="!generalLedgerForm.valid" [primary]="true" *ngIf="isEditing">Save</button>
    </div>
  </form>
</div>
