<div class="container">
  <div class="general-info">
    <h3> All General Ledgers</h3>
  </div>

  <div class="toolbar">
    <button kendoButton (click)="loadGeneralLedgers()" class="refresh-btn">
      Refresh
    </button>
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Search by ID or Description"
      class="search-input"
    />
  </div>

  <div class="tab">
    <kendo-grid
      [data]="filteredGeneralLedgers"
      [height]="473"
      [pageSize]="10"
      [sortable]="true"
      [pageable]="true"
      [selectable]="true"
      (selectionChange)="onRowSelect($event)"
      class="shadow-sm rounded modern-grid"
    >
      <kendo-grid-column field="gL_Id" title="General Ledger ID " [width]="200" [headerStyle]="{'font-weight': 'bold'}"></kendo-grid-column>
      <kendo-grid-column field="gL_Description" title=" Account Description" [width]="200" [headerStyle]="{'font-weight': 'bold'}"></kendo-grid-column>
      <kendo-grid-column field="gL_Inactive" title=" General Ledger Status" [width]="100" [headerStyle]="{'font-weight': 'bold'}"></kendo-grid-column>

    </kendo-grid>
  </div>
</div>
