<form [formGroup]="nextNumberForm" (ngSubmit)="submitForm()" class="k-form">
  <div class="form-container">
    <!-- Name -->
    <div class="form-group">
      <label class="label-required">Name</label>
      <kendo-textbox formControlName="NEX_Name"  placeholder="Enter Next Number Name">
      </kendo-textbox>
    </div>

    <!-- Start Range -->
    <div class="form-group">
      <label class="label-required">Start Range</label>
      <kendo-textbox formControlName="NEX_StartRange"  placeholder="Enter Start Range Value">
      </kendo-textbox>
    </div>

    <!-- End Range -->
    <div class="form-group">
      <label  class="label-required">End Range</label>
      <kendo-textbox formControlName="NEX_EndRange" placeholder="Enter End Range Value">
      </kendo-textbox>
    </div>

    <!-- Number -->
    <div class="form-group">
      <label>Next Number</label>
      <kendo-textbox formControlName="neX_Number"  placeholder="Next Number">
      </kendo-textbox>
    </div>

    <!-- Start Date -->
    <div class="form-group">
      <label  class="label-required">Start Date</label>
      <kendo-datepicker formControlName="NEX_StartDate" >
      </kendo-datepicker>
    </div>

    <!-- End Date -->
    <div class="form-group">
      <label >End Date</label>
      <kendo-datepicker formControlName="NEX_EndDate" >
      </kendo-datepicker>
    </div>

    <div class="form-group">
      <label>Our Ref Equal to Entry Number ?</label>
      <kendo-switch formControlName="NEX_OurRef_EntryNumber" >
      </kendo-switch>
    </div>


    <!-- New Fields -->
    <div class="form-group">
      <label >Start Range Our Ref</label>
      <kendo-textbox formControlName="NEX_StartRangeOurRef"  placeholder="Start Range Our Ref">
      </kendo-textbox>
    </div>

    <div class="form-group">
      <label>End Range Our Ref</label>
      <kendo-textbox formControlName="NEX_EnRangeOurRef"  placeholder="End Range Our Ref">
      </kendo-textbox>
    </div>

    <div class="form-group">
      <label>Next Number Our Ref</label>
      <kendo-textbox formControlName="NEX_NumberOurRef"  placeholder="Number Our Ref">
      </kendo-textbox>
    </div>


  </div>

  <!-- Message d'erreur -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <!-- Description -->
  <div class="form-group">
    <label >Description</label>
    <kendo-textarea formControlName="NEX_Description"  placeholder="Enter Description">
    </kendo-textarea>
  </div>
  <!-- Navigation Buttons -->
  <div class="submit-container">
    <button kendoButton type="button" (click)="previous.emit()" class="btn-back">
      ⬅ Back
    </button>
    <button kendoButton type="submit"  [disabled]="formSaved" class="btn-save">
      Save
    </button>
    <button kendoButton type="button" class="btn-add" [disabled]="!formSaved"(click)="resetForm()">
      Add NEX
    </button>
  </div>
</form>
