<div class="container">
  <app-general-information [journalInfo]="journalForm.value"></app-general-information>

  <div *ngIf="stepIndex === 1">
    <app-form-jrlinfo (journalCreated)="updateJournalData($event)" (next)="nextStep($event)"></app-form-jrlinfo>
  </div>

  <div *ngIf="stepIndex === 2">
    <app-journal-settings
      [journalData]="journalForm.value"
      [jrlId]="journalForm.get('jrlId')?.value"
      [legalEntityId]="journalForm.value.jrL_LegalEntity_Id"
      (previous)="previousStep()"
      (next)="nextStep($event)">
    </app-journal-settings>
  </div>

  <div *ngIf="stepIndex === 3">
    <app-next-number (previous)="previousStep()" (submit)="submitNextNumber($event)"></app-next-number>
  </div>
</div>
