<div class="journal-form">
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="form-row">

    <div>

    <label>Type *</label>
    <kendo-dropdownlist [data]="typeList" formControlName="type"></kendo-dropdownlist>
    </div>
    </div>

    <div class="form-row">
      <div>
        <label>JRL_Abbreviation</label>
        <input kendoTextBox formControlName="jrlAbbreviation" placeholder="Value" />
      </div>
      <div>
        <label>IBAN *</label>
        <kendo-dropdownlist [data]="ibanList" formControlName="iban"></kendo-dropdownlist>
      </div>
      <div>
        <label>GL_Journal</label>
        <kendo-dropdownlist formControlName="glJournal"></kendo-dropdownlist>
      </div>
      <div>
        <label>Currency Code</label>
        <kendo-dropdownlist formControlName="currencyCode"></kendo-dropdownlist>
      </div>
    </div>

    <div class="form-row">
      <div>
        <label>Administration Exact *</label>
        <kendo-dropdownlist formControlName="administrationExact"></kendo-dropdownlist>
      </div>
      <div>
        <label>Legal Entity *</label>
        <kendo-dropdownlist formControlName="legalEntity"></kendo-dropdownlist>
      </div>
      <div>
        <label>System GL of Journal *</label>
        <kendo-dropdownlist formControlName="systemGlJournal"></kendo-dropdownlist>
      </div>
      <div>
        <label>Status</label>
        <kendo-switch formControlName="status"></kendo-switch>
      </div>
    </div>

    <label>JRL_Description</label>
    <textarea kendoTextArea formControlName="jrlDescription" placeholder="TextArea"></textarea>

    <button kendoButton type="submit" themeColor="primary">Next</button>
  </form>
</div>
