.journal-form {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px; /* Ajoute un espacement au-dessus */

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-row > div {
  width: 24%;
}
.c {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
