<div class="container">
  <div class="general-info">
    <h3>All Journals</h3>
  </div>

  <div class="toolbar">
    <button kendoButton (click)="loadJournals()" class="refresh-btn">
      Refresh
    </button>
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Search by ID or Type"
      class="search-input"
    />
  </div>

  <div class="tab">
    <kendo-grid
      [data]="filteredJournals"
      [height]="473"
      [pageSize]="10"
      [sortable]="true"
      [pageable]="true"
      [selectable]="true"
      (selectionChange)="onRowSelect($event)"
      class="shadow-sm rounded modern-grid"
    >
      <kendo-grid-column field="jrL_Id" title="Journal ID " [width]="200" [headerStyle]="{'font-weight': 'bold'}"></kendo-grid-column>
      <kendo-grid-column field="jrL_Abbreviation" title="Journal Abbreviation" [width]="200" [headerStyle]="{'font-weight': 'bold'}"></kendo-grid-column>
      <kendo-grid-column field="jrL_JournalType_Id" title="Journal Type" [width]="200" [headerStyle]="{'font-weight': 'bold'}"></kendo-grid-column>
      <kendo-grid-column field="jrL_Description" title="Journal Description" [width]="200" [headerStyle]="{'font-weight': 'bold'}"></kendo-grid-column>

    </kendo-grid>
  </div>
</div>
